
<h2>{{include.name}}</h2>

<h5><em>{{include.position}}</em></h5>

{% if include.email %}
<a href="{{include.email | prepend: 'mailto: '}}"><u>{{include.email}}</u></a>
{% endif %}

{% if include.website %}
<a href="{{include.website}}" target="_blank"><u>Website</u></a>
{% endif %}

<div class="pro-box">
  {%if include.pic %}
   <img class="pro-pic" src="{{include.pic}}" alt=""/>	
  {% endif %}
  
  {% if include.top-p1 and include.top-p2 %}

    <p>{{include.top-p1}}</p>
    <p>{{include.top-p2}}</p>
    
  {% elsif include.top-p1 %}

    <p>{{include.top-p1}}</p>

  {% endif %}
</div>  
{% if include.bottom %}
  <p>{{include.bottom}}</p>
{% endif %}

<hr>
