
<!-- Sidebar Container -->
<div class="
    col-lg-3 col-lg-offset-0
    col-md-3 col-md-offset-0
    col-sm-12
    col-xs-12
    sidebar-container
">
	<hr><h2 style="color:#4d4d4d">Contact Us</h2>
           <p style="color:#4d4d4d; font-size: 14pt">
           <a href = "/website/people">Dr. Adam Famoso</a>
            <br/>
            <a href = "mailto: afamoso@agcenter.lsu.edu">afamoso@agcenter.lsu.edu</a> 
            <br/>
            1+ (337) 788-7531
            <br/>
            <br/>
           <b> Mailing address</b>
            <br/>
            1373 Caffey Road
            <br/>
            Rayne, LA 70578
           </p>
</div>
